@model CapgeminiApp.Models.CustomerModel

@{
    ViewData["Title"] = "Remove";
}

<h2>Remove Customer</h2>

<h3>Are you sure you want to delete this customer?</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" readonly="readonly" value="@Model.ID" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly="readonly" value="@Model.Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" readonly="readonly" value="@Model.Surname"/>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephoneNumber" class="control-label"></label>
                <input asp-for="TelephoneNumber" class="form-control" readonly="readonly" value="@Model.TelephoneNumber"/>
                <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" readonly="readonly" value="@Model.Address"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-action="RemoveCustomer" type="submit" value="Remove Customer" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
